.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.flex-item {
    text-align: center;
    height: 80px;
    width: 80px;
    background-color: brown;
    margin: 5px;
}